h1 {
    color : red;
}
.outerdiv{
  color : grey;
  border-radius: 25px;
  background: #1ac6ff;
  padding: 10px;

}
.button1 {
  background-color: blue;
  color: black;
  width: 50%;
   float: left;
  border: 2px solid #4CAF50; /* Green */
}
.myClass {
    color : blue;
}